.footer {
  background-color: #242424;
  text-align: center;
  .map {
    height: 20rem;
    width: 100%;
  }

  .content {
    p {
      color: white;
      font-family: 'Source Sans Pro', sans-serif;
    }
  }
}

.copyright {
  background-color: #18181a;
  color: white;
  font-size: 1rem;
  text-align: center;

  span {
    font-weight: 300;
  }
}
