<div>
    <h2 id="page-heading">
        <span jhiTranslate="tgusurveyApp.surveystoreProgramItem.home.title">Program Items</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-program-item" [routerLink]="['/program-item/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="tgusurveyApp.surveystoreProgramItem.home.createLabel">
            Create a new Program Item
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="programItems?.length === 0">
        <span jhiTranslate="tgusurveyApp.surveystoreProgramItem.home.notFound">No programItems found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="programItems && programItems.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="tgusurveyApp.surveystoreProgramItem.category">Category</span></th>
                    <th scope="col" ><span jhiTranslate="tgusurveyApp.surveystoreProgramItem.program">Program</span></th>
                    <th scope="col" ><span jhiTranslate="tgusurveyApp.surveystoreProgramItem.subject">Subject</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let programItem of programItems ;trackBy: trackId">
                    <td><a [routerLink]="['/program-item', programItem.id, 'view']">{{ programItem.id }}</a></td>
                    <td jhiTranslate="{{ 'tgusurveyApp.Category.' + programItem.category }}">{{ programItem.category }}</td>
                    <td>
                        <div *ngIf="programItem.program">
                            <a [routerLink]="['/education-program', programItem.program?.id, 'view']" >{{ programItem.program?.msct }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="programItem.subject">
                            <a [routerLink]="['/subject', programItem.subject?.id, 'view']" >{{ programItem.subject?.msmh }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/program-item', programItem.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/program-item', programItem.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(programItem)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
