<div>
    <!-- v Lecture Profile v -->
    <div *ngIf="lecturer">
        <div *jhiHasAnyAuthority="'ROLE_LECTURERS'" class="row justify-content-center my-3">
            <div class="col-8">
                <div *ngIf="lecturer">
                    <h2><span jhiTranslate="tgusurveyApp.userinfoLecturer.detail.title">Lecturer</span> {{ lecturer.id }}</h2>
    
                    <hr>
    
                    <jhi-alert-error></jhi-alert-error>
    
                    <dl class="row-md jh-entity-details">
                        <dt><span jhiTranslate="tgusurveyApp.userinfoLecturer.msgv">Msgv</span></dt>
                        <dd>
                            <span>{{ lecturer.msgv }}</span>
                        </dd>
                        <dt><span jhiTranslate="tgusurveyApp.userinfoLecturer.birthDay">Birth Day</span></dt>
                        <dd>
                            <span>{{ lecturer.birthDay }}</span>
                        </dd>
                        <dt><span jhiTranslate="tgusurveyApp.userinfoLecturer.address">Address</span></dt>
                        <dd>
                            <span>{{ lecturer.address }}</span>
                        </dd>
                        <dt><span jhiTranslate="tgusurveyApp.userinfoLecturer.gender">Gender</span></dt>
                        <dd>
                            <span jhiTranslate="{{ 'tgusurveyApp.Gender.' + lecturer.gender }}">{{ lecturer.gender }}</span>
                        </dd>
                        <dt><span jhiTranslate="tgusurveyApp.userinfoLecturer.cmnd">Cmnd</span></dt>
                        <dd>
                            <span>{{ lecturer.cmnd }}</span>
                        </dd>
                        <dt><span jhiTranslate="tgusurveyApp.userinfoLecturer.phoneNumber">Phone Number</span></dt>
                        <dd>
                            <span>{{ lecturer.phoneNumber }}</span>
                        </dd>
                        <dt><span jhiTranslate="tgusurveyApp.userinfoLecturer.user">User</span></dt>
                        <dd>
                            {{ lecturer.user?.login }}
                        </dd>
                        <dt><span jhiTranslate="tgusurveyApp.userinfoLecturer.position">Position</span></dt>
                        <dd>
                            <div *ngIf="lecturer.position">
                                <a [routerLink]="['/position', lecturer.position?.id, 'view']">{{ lecturer.position?.name }}</a>
                            </div>
                        </dd>
                        <dt><span jhiTranslate="tgusurveyApp.userinfoLecturer.unit">Unit</span></dt>
                        <dd>
                            <div *ngIf="lecturer.unit">
                                <a [routerLink]="['/unit', lecturer.unit?.id, 'view']">{{ lecturer.unit?.name }}</a>
                            </div>
                        </dd>
                    </dl>
    
                    <button type="submit"
                            (click)="previousState()"
                            class="btn btn-info">
                        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
                    </button>
    
                    <button type="button"
                            [routerLink]="['/lecturer', lecturer.id, 'edit']"
                            class="btn btn-primary">
                        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- ^ Lecture Profile ^ -->

    <!-- v Students Profile v -->
    <div *ngIf="students">
        <div *jhiHasAnyAuthority="'ROLE_STUDENTS'" class="row justify-content-center my-3">
            <div class="col-8">
                <div *ngIf="students">
                    <h2><span jhiTranslate="tgusurveyApp.userinfoStudents.detail.title">Students</span> {{ students.id }}</h2>
    
                    <hr>
    
                    <jhi-alert-error></jhi-alert-error>
    
                    <dl class="row-md jh-entity-details">
                        <dt><span jhiTranslate="tgusurveyApp.userinfoStudents.mssv">Mssv</span></dt>
                        <dd>
                            <span>{{ students.mssv }}</span>
                        </dd>
                        <dt><span jhiTranslate="tgusurveyApp.userinfoStudents.birthDay">Birth Day</span></dt>
                        <dd>
                            <span>{{ students.birthDay }}</span>
                        </dd>
                        <dt><span jhiTranslate="tgusurveyApp.userinfoStudents.gender">Gender</span></dt>
                        <dd>
                            <span jhiTranslate="{{ 'tgusurveyApp.Gender.' + students.gender }}">{{ students.gender }}</span>
                        </dd>
                        <dt><span jhiTranslate="tgusurveyApp.userinfoStudents.cmnd">Cmnd</span></dt>
                        <dd>
                            <span>{{ students.cmnd }}</span>
                        </dd>
                        <dt><span jhiTranslate="tgusurveyApp.userinfoStudents.phoneNumber">Phone Number</span></dt>
                        <dd>
                            <span>{{ students.phoneNumber }}</span>
                        </dd>
                        <dt><span jhiTranslate="tgusurveyApp.userinfoStudents.graduationStatus">Graduation Status</span></dt>
                        <dd>
                            <span jhiTranslate="{{ 'tgusurveyApp.GraduationStatus.' + students.graduationStatus }}">{{ students.graduationStatus }}</span>
                        </dd>
                        <dt><span jhiTranslate="tgusurveyApp.userinfoStudents.user">User</span></dt>
                        <dd>
                            {{ students.user?.login }}
                        </dd>
                        <dt><span jhiTranslate="tgusurveyApp.userinfoStudents.classroom">Classroom</span></dt>
                        <dd>
                            <div *ngIf="students.classroom">
                                <a [routerLink]="['/classroom', students.classroom?.id, 'view']">{{ students.classroom?.mslh }}</a>
                            </div>
                        </dd>
                    </dl>
    
                    <button type="submit"
                            (click)="previousState()"
                            class="btn btn-info">
                        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
                    </button>
    
                    <button type="button"
                            [routerLink]="['/students', students.id, 'edit']"
                            class="btn btn-primary">
                        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- ^ Students Profile ^ -->

    <!-- v Enterprise Profile v -->
    <div *ngIf="enterprise">
        <div *jhiHasAnyAuthority="'ROLE_ENTERPRISES'" class="row justify-content-center my-3">
            <div class="col-8">
                <div *ngIf="enterprise">
                    <h2><span jhiTranslate="tgusurveyApp.userinfoEnterprise.detail.title">Enterprise</span> {{ enterprise.id }}</h2>
    
                    <hr>
    
                    <jhi-alert-error></jhi-alert-error>
    
                    <dl class="row-md jh-entity-details">
                        <dt><span jhiTranslate="tgusurveyApp.userinfoEnterprise.name">Name</span></dt>
                        <dd>
                            <span>{{ enterprise.name }}</span>
                        </dd>
                        <dt><span jhiTranslate="tgusurveyApp.userinfoEnterprise.address">Address</span></dt>
                        <dd>
                            <span>{{ enterprise.address }}</span>
                        </dd>
                        <dt><span jhiTranslate="tgusurveyApp.userinfoEnterprise.phoneNumber">Phone Number</span></dt>
                        <dd>
                            <span>{{ enterprise.phoneNumber }}</span>
                        </dd>
                        <dt><span jhiTranslate="tgusurveyApp.userinfoEnterprise.representative">Representative</span></dt>
                        <dd>
                            <span>{{ enterprise.representative }}</span>
                        </dd>
                        <dt><span jhiTranslate="tgusurveyApp.userinfoEnterprise.lineOfBussiness">Line Of Bussiness</span></dt>
                        <dd>
                            <span>{{ enterprise.lineOfBussiness }}</span>
                        </dd>
                        <dt><span jhiTranslate="tgusurveyApp.userinfoEnterprise.user">User</span></dt>
                        <dd>
                            {{ enterprise.user?.login }}
                        </dd>
                    </dl>
    
                    <button type="submit"
                            (click)="previousState()"
                            class="btn btn-info">
                        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
                    </button>
    
                    <button type="button"
                            [routerLink]="['/enterprise', enterprise.id, 'edit']"
                            class="btn btn-primary">
                        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- ^ Enterprise Profile ^ -->
</div>