<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="surveyForm">
            <h2><span jhiTranslate="tgusurveyApp.surveystoreSurveyForm.detail.title">Survey Form</span> {{ surveyForm.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tgusurveyApp.surveystoreSurveyForm.name">Name</span></dt>
                <dd>
                    <span>{{ surveyForm.name }}</span>
                </dd>
                <dt><span jhiTranslate="tgusurveyApp.surveystoreSurveyForm.note">Note</span></dt>
                <dd>
                    <span>{{ surveyForm.note }}</span>
                </dd>
                <dt><span jhiTranslate="tgusurveyApp.surveystoreSurveyForm.startDate">Start Date</span></dt>
                <dd>
                    <span>{{ surveyForm.startDate }}</span>
                </dd>
                <dt><span jhiTranslate="tgusurveyApp.surveystoreSurveyForm.endDate">End Date</span></dt>
                <dd>
                    <span>{{ surveyForm.endDate }}</span>
                </dd>
            </dl>

            <div *ngIf="surveyForm.headers">
                <ul style="list-style: none;">
                    <li *ngFor="let header of surveyForm.headers">
                        {{header.title}}
                        <ul style="list-style: none;">
                            <li *ngFor="let section of header.sections">
                                {{section.title}}
                                <ul style="list-style: none;">
                                    <li *ngFor="let question of section.questions">
                                        {{question.content}}
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

        </div>

        <br><br>

        
    </div>
</div>
