<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="surveyForm">
            <h2><span jhiTranslate="tgusurveyApp.surveystoreSurveyForm.detail.title">Survey Form</span> {{ surveyForm.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tgusurveyApp.surveystoreSurveyForm.name">Name</span></dt>
                <dd>
                    <span>{{ surveyForm.name }}</span>
                </dd>
                <dt><span jhiTranslate="tgusurveyApp.surveystoreSurveyForm.note">Note</span></dt>
                <dd>
                    <span>{{ surveyForm.note }}</span>
                </dd>
                <dt><span jhiTranslate="tgusurveyApp.surveystoreSurveyForm.startDate">Start Date</span></dt>
                <dd>
                    <span>{{ surveyForm.startDate | date: 'short'}}</span>
                </dd>
                <dt><span jhiTranslate="tgusurveyApp.surveystoreSurveyForm.endDate">End Date</span></dt>
                <dd>
                    <span>{{ surveyForm.endDate | date: 'short'}}</span>
                </dd>
            </dl>

            <div class="alert alert-warning" id="no-result" *ngIf="surveyForm.headers?.length === 0">
                <span jhiTranslate="tgusurveyApp.surveystoreSurveyHeader.home.notFound">No surveyHeaders found</span>
            </div>
            <div *ngIf="surveyForm.headers">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let header of surveyForm.headers; trackBy: trackHeaderId">
                        <div class="row survey-header">
                            <span class="mb-1">{{header.title}}</span>
                        </div>

                        <ul style="list-style: none;">
                            <li *ngFor="let section of header.sections; trackBy: trackSectionId">
                                <div class="row survey-section">
                                    <span>{{section.title}}</span>
                                </div>
                               
                                <hr>

                                <ul style="list-style: none;" class="my-3" >
                                    <li *ngFor="let question of section.questions; trackBy: trackQuestionId">
                                        <div class="row my-1 survey-question">
                                            <span (click)="selectQuesion(question)">{{question.content}}</span>
                                            <div *ngIf="question.id === userAnswer.question?.id" id="answer-form-{{question.id}}" class="answer-form form-inline ml-auto">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text" for="answer-{{question.id}}" jhiTranslate="tgusurveyApp.surveystoreResultSurvey.answer">Answer</label>
                                                    </div>
                                                    <select class="custom-select" id="answer-{{question.id}}" [(ngModel)]="userAnswer.answer">
                                                        <option value="OPTION1">{{ 'tgusurveyApp.Answer.OPTION1' | translate }}</option>
                                                        <option value="OPTION2">{{ 'tgusurveyApp.Answer.OPTION2' | translate }}</option>
                                                        <option value="OPTION3">{{ 'tgusurveyApp.Answer.OPTION3' | translate }}</option>
                                                        <option value="OPTION4">{{ 'tgusurveyApp.Answer.OPTION4' | translate }}</option>
                                                        <option value="OPTION5">{{ 'tgusurveyApp.Answer.OPTION5' | translate }}</option>
                                                    </select>
                                                    <div class="input-group-append">
                                                        <label class="input-group-text" for="comment-{{question.id}}" jhiTranslate="tgusurveyApp.surveystoreResultSurvey.comment">Commnet</label>
                                                    </div>
                                                    <input type="text" class="form-control" id="comment-{{question.id}}" aria-label="Text input with dropdown button" [(ngModel)]="userAnswer.comment">
                                                    <div class="input-group-append">
                                                        <button type="submit"
                                                            (click)="saveAnswer()"
                                                            class="btn btn-success btn-sm">
                                                            <fa-icon icon="save"></fa-icon>
                                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.save">save</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>

        <br><br>

        
    </div>
</div>
