<div>
    <h2 id="page-heading">
        <span jhiTranslate="tgusurveyApp.userinfoClassroom.home.title">Classrooms</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-classroom" [routerLink]="['/classroom/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="tgusurveyApp.userinfoClassroom.home.createLabel">
            Create a new Classroom
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="classrooms?.length === 0">
        <span jhiTranslate="tgusurveyApp.userinfoClassroom.home.notFound">No classrooms found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="classrooms && classrooms.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="tgusurveyApp.userinfoClassroom.mslh">Mslh</span></th>
                    <th scope="col" ><span jhiTranslate="tgusurveyApp.userinfoClassroom.name">Name</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let classroom of classrooms ;trackBy: trackId">
                    <td><a [routerLink]="['/classroom', classroom.id, 'view']">{{ classroom.id }}</a></td>
                    <td>{{ classroom.mslh }}</td>
                    <td>{{ classroom.name }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/classroom', classroom.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/classroom', classroom.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(classroom)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
