/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 225px;
  height: 225px;
  background: url('../../content/images/logo-tgu.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/logo-tgu.svg') no-repeat center top;
    background-size: contain;
  }

  .piechart {
    justify-content: center;
  }
}

.card {
  transition: transform 0.3s ease-out;
  margin: 2rem 2rem;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translate(0, -5px);
}
