<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="classroom">
            <h2><span jhiTranslate="tgusurveyApp.userinfoClassroom.detail.title">Classroom</span> {{ classroom.mslh }} - {{classroom.name}}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tgusurveyApp.userinfoClassroom.mslh">Mslh</span></dt>
                <dd>
                    <span>{{ classroom.mslh }}</span>
                </dd>
                <dt><span jhiTranslate="tgusurveyApp.userinfoClassroom.name">Name</span></dt>
                <dd>
                    <span>{{ classroom.name }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/classroom', classroom.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
