<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="subject">
            <h2><span jhiTranslate="tgusurveyApp.surveystoreSubject.detail.title">Subject</span> {{ subject.msmh }} - {{subject.name}}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tgusurveyApp.surveystoreSubject.msmh">Msmh</span></dt>
                <dd>
                    <span>{{ subject.msmh }}</span>
                </dd>
                <dt><span jhiTranslate="tgusurveyApp.surveystoreSubject.name">Name</span></dt>
                <dd>
                    <span>{{ subject.name }}</span>
                </dd>
                <dt><span jhiTranslate="tgusurveyApp.surveystoreSubject.numOfCredit">Num Of Credit</span></dt>
                <dd>
                    <span>{{ subject.numOfCredit }}</span>
                </dd>
                <dt><span jhiTranslate="tgusurveyApp.surveystoreSubject.theoryLesson">Theory Lesson</span></dt>
                <dd>
                    <span>{{ subject.theoryLesson }}</span>
                </dd>
                <dt><span jhiTranslate="tgusurveyApp.surveystoreSubject.practiceLesson">Practice Lesson</span></dt>
                <dd>
                    <span>{{ subject.practiceLesson }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/subject', subject.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>

        <br><br>

        <div class="alert alert-warning" id="no-result" *ngIf="subjectConditions?.length === 0">
            <span jhiTranslate="tgusurveyApp.surveystoreSubjectCondition.home.notFound">No subjectConditions found</span>
        </div>
    
        <div class="table-responsive" id="entities" *ngIf="subjectConditions && subjectConditions.length > 0">
            <table class="table table-striped" aria-describedby="page-heading">
                <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                        <th scope="col"  jhiSortBy="beforeSubject.msmh"><span jhiTranslate="tgusurveyApp.surveystoreSubjectCondition.beforeSubject">Before Subject</span> <fa-icon icon="sort"></fa-icon></th>
                        <th scope="col"  jhiSortBy="beforeSubject.name"><span jhiTranslate="tgusurveyApp.surveystoreSubject.name">Subject</span> <fa-icon icon="sort"></fa-icon></th>
                        <th scope="col"  jhiSortBy="constraint"><span jhiTranslate="tgusurveyApp.surveystoreSubjectCondition.constraint">Constraint</span> <fa-icon icon="sort"></fa-icon></th>                      
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                    <tr *ngFor="let subjectCondition of subjectConditions ;trackBy: trackId">
                        <td>
                            <div *ngIf="subjectCondition.beforeSubject">
                                <a [routerLink]="['/subject', subjectCondition.beforeSubject?.id, 'view']" (click)="reset()" >{{ subjectCondition.beforeSubject?.msmh }}</a>
                            </div>
                        </td>
                        <td>{{ subjectCondition.beforeSubject?.name }}</td>
                        <td jhiTranslate="{{ 'tgusurveyApp.Constraint.' + subjectCondition.constraint }}">{{ subjectCondition.constraint }}</td>
                        
                        <td class="text-right">
                            <div class="btn-group">
                                <button type="submit"
                                        [routerLink]="['/subject', subjectCondition.beforeSubject?.id, 'view']"
                                        class="btn btn-info btn-sm"
                                        (click)="reset()">
                                    <fa-icon icon="eye"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                </button>
    
                                <button type="submit"
                                        [routerLink]="['/subject-condition', subjectCondition.id, 'edit']"
                                        class="btn btn-primary btn-sm">
                                    <fa-icon icon="pencil-alt"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                </button>
    
                                <button type="submit" (click)="delete(subjectCondition)"
                                        class="btn btn-danger btn-sm">
                                    <fa-icon icon="times"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <button id="jh-create-entity" class="btn btn-primary jh-create-entity create-subject-condition" [routerLink]="['/subject-condition/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="tgusurveyApp.surveystoreSubjectCondition.home.createLabel">
            Create a new Subject Condition
            </span>
        </button>
    </div>
</div>
