<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="subjectCondition">
            <h2><span jhiTranslate="tgusurveyApp.surveystoreSubjectCondition.detail.title">Subject Condition</span> {{ subjectCondition.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tgusurveyApp.surveystoreSubjectCondition.constraint">Constraint</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'tgusurveyApp.Constraint.' + subjectCondition.constraint }}">{{ subjectCondition.constraint }}</span>
                </dd>
                <dt><span jhiTranslate="tgusurveyApp.surveystoreSubjectCondition.subject">Subject</span></dt>
                <dd>
                    <div *ngIf="subjectCondition.subject">
                        <a [routerLink]="['/subject', subjectCondition.subject?.id, 'view']">{{ subjectCondition.subject?.msmh }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="tgusurveyApp.surveystoreSubjectCondition.beforeSubject">Before Subject</span></dt>
                <dd>
                    <div *ngIf="subjectCondition.beforeSubject">
                        <a [routerLink]="['/subject', subjectCondition.beforeSubject?.id, 'view']">{{ subjectCondition.beforeSubject?.msmh }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/subject-condition', subjectCondition.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
